@model IEnumerable<SAProject.Models.UserFile>

@{
	ViewData["Title"] = "Index";
}

<h1>Index</h1>

@if (!string.IsNullOrEmpty(ViewBag.Error))
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.Error
    </div>
}


<p>
	<a asp-action="Create">Create New</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.File.Title)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.File.FileExpiry)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.File.FileName)
			</th>
		</tr>
	</thead>
	<tbody onload="func()">
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.File.Title)
				</td>
				<td>
					@if(item.File.FileExpiry != null)
					{
						@Html.DisplayFor(modelItem => item.File.FileExpiry)
					}else
					{
						<p>N/A</p>
					}

				</td>
				<td>
					@Html.DisplayFor(modelItem => item.File.FileName)
				</td>
				<td>
					<a asp-action="DownloadFile" asp-route-id="@item.FileId">Download</a>
				</td>
			</tr>
		}
	</tbody>
</table>