@model IEnumerable<SAProject.Models.UserFile>

@{
	ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
	<a asp-action="Create">Create New</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.File.Title)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.File.FileExpiry)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.File.FileData)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody onload="func()">
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.File.Title)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.File.FileExpiry)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.File)
				</td>
				<td>
					<a asp-action="DownloadFile" asp-route-id="@item.FileId">Download</a>
				</td>
			</tr>
		}
	</tbody>
</table>
